@define-color ctp-rosewater	#f5e0dc;
@define-color ctp-flamingo	#f2cdcd;
@define-color ctp-pink		#f5c2e7;
@define-color ctp-mauve		#cba6f7;
@define-color ctp-red		#f38ba8;
@define-color ctp-maroon	#eba0ac;
@define-color ctp-peach		#fab387;
@define-color ctp-yellow	#f9e2af;
@define-color ctp-green		#a6e3a1;
@define-color ctp-teal		#94e2d5;
@define-color ctp-sky		#89dceb;
@define-color ctp-sapphire	#74c7ec;
@define-color ctp-blue		#89b4fa;
@define-color ctp-lavender	#b4befe;

@define-color ctp-text		#cdd6f4;
@define-color ctp-subtext1	#bac2de;
@define-color ctp-subtext0	#a6adc8;

@define-color ctp-overlay2	#9399b2;
@define-color ctp-overlay1	#7f849c;
@define-color ctp-overlay0	#6c7086;

@define-color ctp-surface2	#585b70;
@define-color ctp-surface1	#45475a;
@define-color ctp-surface0	#313244;

@define-color ctp-base		#1e1e2e;
@define-color ctp-mantle	#181825;
@define-color ctp-crust		#11111b;
