@import url("/home/unknown/.config/colors/catppuccin-mocha-gtk.css");

*	{
	font-family:	"JetbrainsMono Nerd Font", monospace;
	font-size:	15px;
	min-height: 0;
}

window#waybar	{
	background: transparent;
}

#workspaces {
	margin: 0 5px;
}

#workspaces button {
	padding: 2px 8px;
		margin: 0 2px;
		border-radius: 999px;
		background-color: transparent;
		color: @ctp-subtext0;
		border: 2px solid transparent;
}

#workspaces button.focused {
	background-color: @ctp-surface1;
		color: @ctp-mauve;
	border-color: @ctp-mauve;
}

#workspaces button:hover {
	background-color: @ctp-surface2;
		color: @ctp-text;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio {
	background-color: @ctp-surface0;
		padding: 4px 10px;
		margin: 0 3px;
		border-radius: 999px;
}

#clock {
	color: @ctp-peach;
}

#cpu {
	color: @ctp-red;
}

#memory {
	color: @ctp-green;
}

#network {
	color: @ctp-blue;
}

#pulseaudio {
	color: @ctp-maroon;
}
